::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #a1b1c7;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: rgba(132, 143, 150, 0.418);
  border-radius: 4px;
}

body {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #a1b1c7 rgba(132, 143, 150, 0.418);
}
